$font-path: "../assets/fonts";

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionicons";
@import "roboto";
@import "noto-sans";
